body{
    margin: 0;
}

nav{
    height: 60px;
    background-color: rgb(158, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 50px;
    border-bottom: 3px solid #7383bf;
}

nav div:nth-child(1){
    display: flex;
    align-items: center;
}

nav div:nth-child(1) img{
    height: 45px;
    width: auto;
}

nav div:nth-child(1) h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #191970;
    font-size: 18pt;
    display: inline;
    margin: 0;
}

#h1Front{
    padding-right: 10px;
}

#h1Travels{
    padding-left: 5px;
}

nav div:nth-child(2){
    width: 50%;
    display: flex;
    justify-content: space-around;
}

nav div:nth-child(2) a{
    color: #191970;
    text-decoration: none;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

body section:nth-child(2){
    width: 100%;
    height: 300px;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position-y: 40%;
}

.informativo{
    display: flex;
    padding: 0 50px;
    height: 400px;
}

.informativo img{
    width: auto;
    height: 300px;
}

.informativo div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.informativo p{
    color: #333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13pt;
}

.informativo h2{
    color: darkgreen;
    font-size: 26pt;
    margin: 0;
}